{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}
{% block contents %}

  <main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs" style="margin-top: 0; margin-bottom: 0;">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2><a href="{% url 'home' %}"><img src="{% static 'assets/img/logo.png' %}" style="height: 70x;width: 150px;" alt="" class="img-fluid"></a></h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Donate</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->
       
    <section id="projects" class="services" style="margin-top: -50px;">
        <div class="container">
  
          <!-- <div class="section-title" data-aos="fade-up">
            <h6>Donate</h6>
            <p>{{data.title}}</p>
          </div> -->
  
          <div class="row ">
            <div class="col-md-6" data-aos="fade-up">
                <h3 class="pb-3" ><b>{{ data.title }}</b></h3>
                <div style="border-radius:15px ; border:2px solid #e6b619;" >
                  <img style="width:100%  " src="{{ data.project_image.url }}" alt="">
                </div>
                <div style="height:30px; padding-left: 50px;" ></div>
                <span class="mt-5 ml-3"  ><b>{{data.user.username|capfirst}} is aising Funds for their project {{data.title}}</b></span>

                <hr>
                <div style="height:5px; padding-left: 10px;" ></div>
                <span class="mt-5 ml-3"  ><b>Created:</b> {{ data.published}}</span>

                <hr>
                <div style="height:5px; padding-left: 10px;" ></div>
                <div>
                    <p>{{ data.project_overview }}</p>
                </div>

                <div style="height:10px; padding-left: 10px;" ></div>
                <div style="display:block;" >
                  <h5><b>A word of Support</b></h5>
                  <span>Please donate to share words of support.</span>
                  <button  data-toggle="modal" data-target="#word" class="btn btn-outline-warning rounded-pill btn-sm" style="margin-left:50px;" >Add a word of support</button>
                </div>

                {% for data in data.words %}
                <div class="row mt-3 ">
                    <div class="col-md-1">
                        <div style="height:30px; width:30px; border-radius:50px; background-color: #e6b619; text-align: center;" >
                          <i class="fa fa-user mt-2" ></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <p>{{ data.word }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
  
                
            </div>
           <div class="col-md-6 mt-5  donate">
              <div style=" border-radius: 7px; width: 600px; text-align: start; box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.3);" data-aos="fade-up"  >
                <div class="goal pt-3 pb-3" style="margin-left:20px; margin-right:20px;" >
                  <div style="display:inline-flex;" >
                      <span>Tsh {{data.get_donation_sum}} of {{data.goal}}</span>
                      <span style="float:right; right: 30px; position:absolute;" >{{data.get_percent}}%</span>
                  </div>
                  {% if data.get_percent < 100 %}
                  <div class="bg-secondary rounded-pill" >
                    <div style=" background-color: #03e203; height:10px; width: {{data.get_percent}}%;" class="rounded-pill" id="prog{{forloop.counter}}" >.</div>
                  </div>
                  {% else %}
                  <div class="bg-secondary rounded-pill" >
                    <div style=" background-color: #03e203; height:10px; width: 100%;" class="rounded-pill" id="prog{{forloop.counter}}" >.</div>
                  </div>
                  {% endif %}
                </div>
                <span style="padding-left:20px;" >{{data.get_all_donations.count}} donation{{data.get_all_donations.count|pluralize}}</span>
                <form style="margin-left:20px; margin-right:20px;" action="{% url 'donate' data.id %}" method="post" class="pb-3 pt-3 pl-3" >
                    {% csrf_token %}
                    <details>
                      <summary>Donor Information</summary>
                      <div class="row mb-3">
                        <div class="col-md-4">
                            <button value="Anonymous"  type="button" style="width: 100%; height: 50px;" class=" rounded-pill text-dark btn-sm btn btn-outline-warning btn-lg name 1" value="25" >Anomymous</button>
                            
                          </div>
                        <div class="col-md-6">
                            <input required id="name"  placeholder="Your Names" style="height:50px;" name="name" type="text" class="form-control" >
                        </div>
                      </div>
                    </details>
                    <label class="mb-3" for="amount"><b>Amount</b></label>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <button type="button" style="width: 100%;" class=" rounded-pill text-dark btn btn-outline-warning btn-lg amount 2" value="5000" >Tsh 5,000</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" style="width: 100%;" class=" rounded-pill text-dark btn btn-outline-warning btn-lg amount 3" value="10000" >Tsh 10,000</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" style="width: 100%;" class=" rounded-pill text-dark btn btn-outline-warning btn-lg amount 4" value="50000" >Tsh 50,000</button>
                        </div>
                        <!-- <input class="text-dark" id="amount" type="hidden" name="amount1"> -->
                    </div>
                    <input required id="amount" type="number" style="height: 50px;" name="amount" class="form-control mb-3" placeholder="Other Amount">
                    <button style="width:100%;" class=" btn btn-outline-warning btn-lg rounded-pill" >Donate Now</button>
                </form>
                <small style="margin-left:20px;">Recent Donations</small>
                {% for data in data.get_all_donations %}
                <div class="recent-donor d-inline-flex pb-3 pt-3" style="border-bottom: 1px solid #cecece; width: 90%; margin-left: 20px; margin-right: 20px;">
                  <div style="height:30px; width:30px; margin-left:20px; margin-top: 10px; border-radius:50px; background-color: #e6b619; text-align: center;" >
                    <i class="fa fa-user mt-2" ></i>
                  </div>
                    <div style="display:block;" class="d-block">
                        <strong style="margin:20px;">{{data.name}}</strong>
                        <br>
                        <small style="margin:20px;" ><b>Donated Tsh {{data.donation}}</b></small>
                    </div>
                 </div>
                 {% empty %}
                 <div class="recent-donor d-inline-flex pb-3 pt-3" style="border-bottom: 1px solid #cecece; width: 90%; margin-left: 20px; margin-right: 20px;">
              
                    <div style="display:block;" class="d-block">
                        <strong style="margin:20px;">No funds donated yet</strong>
                    </div>
                 </div>
                 {% endfor %}
       
            </div>
            
           </div>
   
          </div>
         
                
        
  
        </div>
      </section>

      {% include 'includes/modals.html' %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>
        $(document).on('click','.amount', function(){
            var btn_val = $(this).val() 
            $('#amount').val(btn_val)
            // console.log(btn_val)
            
        })

        $(document).on('click','.name', function(){
            var btn_val = $(this).val() 
            $('#name').val(btn_val)
            console.log(btn_val)
            
        })

        $(document).on('focus','#amount', function(){
            var btn_val = $(this).val() 
            $('#amount').val(btn_val)
            // console.log(btn_val)
            
        })


        

        $(document).on('click','.1', function(){
            $(this).addClass('btn-warning')
            $('.2').removeClass('btn-warning')
            $('.3').removeClass('btn-warning')
            $('.4').removeClass('btn-warning')
        })
        $(document).on('click','.2', function(){
            $(this).addClass('btn-warning')
            $('.1').removeClass('btn-warning')
            $('.3').removeClass('btn-warning')
            $('.4').removeClass('btn-warning')
        })

        $(document).on('click','.3', function(){
            $(this).addClass('btn-warning')
            $('.1').removeClass('btn-warning')
            $('.2').removeClass('btn-warning')
            $('.4').removeClass('btn-warning')
        })
        $(document).on('click','.4', function(){
            $(this).addClass('btn-warning')
            $('.1').removeClass('btn-warning')
            $('.2').removeClass('btn-warning')
            $('.3').removeClass('btn-warning')
        })

      </script>


  </main><!-- End #main -->
{% endblock contents %}

{% block footer %}
{% endblock footer %}