{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}
{% block contents %}

  <main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs mt-3 mb-3">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2><a href="{% url 'home' %}"><img src="{% static 'assets/img/logo.png' %}" style="height: 70x;width: 150px;" alt="" class="img-fluid"></a></h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Donation Response</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->
       
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
            {% if status == 'successful' %}
                <h2>Donation Successful</h2>
                <span>Thank you for your donation, Your donation is highly valued.</span>
            {% else %}
                <h2>Donation Cancelled</h2>
                <span>Your donation for was not successful.</span>
            {% endif %}
        </div>
        
        <center>
            <div class="row">
                <div class="col-lg-12 col-md-12" data-aos="fade-up" data-aos-delay="100">
                  <div class="contact-about">
                    <p>If you have not followed our social media follow our link below</p>
                    <div class="social-links">
                      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
        </center>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock contents %}

{% block footer %}
{% endblock footer %}