{% extends 'base.html' %}
{% load static %}
{% block contents %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h3 data-aos="fade-up"><strong>Donate to highly scalable vetted innovative intervention from most vulnerable groups to solve communities’ most pressing issues & create sustainable Impact</strong></h3>
          <h2 data-aos="fade-up" data-aos-delay="400">All inclusive in one platform</h2>
          <div data-aos="fade-up" data-aos-delay="800" style="display: inline-block;" >
            <a href="{% url 'login' %}" class="btn-get-started scrollto">Start Fundraising</a>
            <a href="{% url 'projects' %}" class="btn-get-started scrollto ml-5">Donate</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Clients Section -->
    <!-- ======= Services Section ======= -->
    <section id="projects" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Projects</h2>
          <p>Recent Projects From SMEs And NGOs</p>
        </div>

        <div class="row">
          {% for data in projects %}
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
              <h4 class="title"><a data-toggle="modal" data-target="#projects{{data.id}}">{{data.title}}</a></h4>
              <p class="description">{{data.project_overview|truncatechars:100}} 
                <a  class="description" data-toggle="modal" data-target="#projects{{data.id}}"><i class="bi bi-arrow-right"></i><b>Read More</b></a></p>
            </div>
          </div>
          {% endfor %}
        <center  data-aos="fade-up" data-aos-delay="100" ><a class="btn btn-outline-warning mt-5 rounded-pill"  href="{% url 'projects' %}"><b>More Projects</b></a></center>
        </div>

      </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= More Services Section opportunity section ======= -->
    <section id="opportunities" class="more-services">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Opportunities</h2>
          <p>Recent Opportunities From Donors</p>
        </div>
        <div class="row">
          {% for data in opportunities %}
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style='background-image: url("{{data.image.url}}");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a data-toggle="modal" data-target="#staticBackdrop{{data.id}}">{{data.title}}</a></h5>
                <p class="card-text">{{data.details|truncatechars:100}}</p>
                <div class="read-more"><a data-toggle="modal" data-target="#staticBackdrop{{data.id}}"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          {% endfor %}
          <center  data-aos="fade-up" data-aos-delay="100" ><a class="btn btn-outline-warning mt-5 rounded-pill"  href="{% url 'opportunities' %}"><b>More Opportunities</b></a></center>

        </div>

      </div>
    </section><!-- End More Services Section -->


        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>Who We Are</h2>
            </div>
    
            <div class="row content">
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                <div class="section-title" data-aos="fade-up">
                  <!-- <h5><b>Background</b></h5> -->
                </div>
                <p>
                  Access to funding has never been easy to any company, corporate, organizations and even
                  institutions. It is a stumbling block due to most startups being not well informed on existing
                  funding opportunities as well as not knowledgeable on project designing and creative proposal
                  writing to attract funding from different donors. It takes a lot of efforts just to raise your first
                  dollar, this situation is even worse to startups (Business and NGOs) by considering their level of
                  experience and impact reach. It is indeed a nightmare and it has remained a critical challenge
                  getting access to pre-revenue funds for proof-of-concept to early-stage entrepreneurs and
                  NGOs. Most entrepreneurs and small NGOs with viable ideas do not have the required funding
                  to nurture and validate their concepts in the market/ communities. This has led to premature
                  failure of many social enterprises and Small NGOs in Tanzania.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                </ul>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="section-title" data-aos="fade-up">
                  <!-- <h5><b>About Us</b></h5> -->
                </div>
                <p>
                  CrowdFundr is a product of Ennovation for change, it is a digital, decentralized crowdfunding
                  platform that enables CrowdFundr verified entrepreneurs and small NGOs to post their
                  empowerment and social enterprise projects and source for impact funding from a network of
                  both corporates (through CSR) and individual donors on CrowdFundr Seed Crowdfunding
                  Platform. SMEs and small NGOs seeking to raise funds from the platform will be verified
                  through; a due diligence process by Ennovation for change and CrowdFundr, go through a
                  capacity building sessions on project designing and proposal writing, then they can upload their
                  projects based on CrowdFundr Standards for their project to be approved to raise funds. Upon
                  completion of the fundraising activity, Ennovation for change will provide post-funding support
                  to the entrepreneurs and small entrepreneurs to ensure that the capital raised is fully used to
                  grow the business or create impacts to beneficiaries, while solving community problems and
                  creating jobs through the business expansion and operation sustainability. Through
                  CrowdFundr, SMEs and small NGOs will be able to access pre-seed capital to prove concepts
                  and grow their enterprise and operations to a commercial and sustainable level.
                </p>
                <a href="#projects" class="btn-learn-more">Learn More</a>
              </div>
            </div>
    
          </div>
        </section><!-- End About Us Section -->
    
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
          <div class="container">
    
            <div class="row">
              <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
                <img src="{% static 'assets/img/counts-img.svg' %}" alt="" class="img-fluid">
              </div>
    
              <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
                <div class="content d-flex flex-column justify-content-center">
                  <div class="row">
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-folder"></i>
                        <span data-purecounter-start="0" data-purecounter-end="{{projects.count}}" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Projects</strong> consequuntur voluptas nostrum aliquid ipsam architecto ut.</p>
                      </div>
                    </div>
    
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="{{opportunities.count}}" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Opportunities</strong> adipisci atque cum quia aspernatur totam laudantium et quia dere tan</p>
                      </div>
                    </div>
    
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-bank"></i>
                        <span data-purecounter-start="0" data-purecounter-end="{{sme}}" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>NGO's</strong> aut commodi quaerat modi aliquam nam ducimus aut voluptate non vel</p>
                      </div>
                    </div>
    
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="{{donor}}" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Donors</strong> rerum asperiores dolor alias quo reprehenderit eum et nemo pad der</p>
                      </div>
                    </div>
                  </div>
                </div><!-- End .content-->
              </div>
            </div>
    
          </div>
        </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <!-- <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Lorem Ipsum</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Dolor Sitema</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="">Sed perspiciatis</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="">Magni Dolores</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="">Nemo Enim</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="">Eiusmod Tempor</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3><a href="">Midela Teren</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3><a href="">Pira Neve</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-anchor-line" style="color: #b2904f;"></i>
              <h3><a href="">Dirada Pack</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-disc-line" style="color: #b20969;"></i>
              <h3><a href="">Moton Ideal</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-base-station-line" style="color: #ff5828;"></i>
              <h3><a href="">Verdo Park</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
              <h3><a href="">Flavor Nivelanda</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit eum quidem consectetur velit</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> -->
    <!-- End Testimonials Section -->





    <section id="projects" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>How it Works</h2>
          <p>For SMEs & NGOs</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-user-plus"></i></div>
              <h4 class="title"><a href="{% url 'register' %}">Registration</a></h4>
              <p class="description"> SMEs, NGOs & Donors register to be part of the biggest upcoming platform of organizations support and Fundraising.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Due Diligence</a></h4>
              <p class="description">we conduct an evaluation to measure the authenticity of the organization to be on boarded on the platform by adhering to our condition:</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-user-check"></i></div>
              <h4 class="title"><a href="">Capacity Building</a></h4>
              <p class="description">we are making sure that our members are well informed and knowledgeable on project designing and proposal writing to capture interest of funders/ donors</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-pencil"></i></div>
              <h4 class="title"><a href="">Trial/ Experiential learning</a></h4>
              <p class="description">Before we allow our member organizations to upload their projects we are making sure that they are able to write and present an eye appealing proposal by putting them through an experiential learning by giving them tasks to complete successful.</p>
            </div>
          </div>


          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-5 mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-upload"></i></div>
              <h4 class="title"><a href="">Uploading Project</a></h4>
              <p class="description">after satisfying that their ready, member organizations are now ready to upload their projects by adhering to our standards i.e Clear background and problem statement, desirable justification, Clear goal and smart objectives etc.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-5 mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-money"></i></div>
              <h4 class="title"><a href="">Fundraising</a></h4>
              <p class="description">To ensure that the fundraising activity is going smoothly, we will be promoting our members projects on weekly basis on our social media pages to ensure that they reach more supporters also we will give the organizations direct links to their fundraisers.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-5 mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-money"></i></div>
              <h4 class="title"><a href=""></a>Post-Funding Support</h4>
              <p class="description">In order to enable the member to efficiently and effectively utilize the raised funds, we will be conducting regular check-in/ monitoring to ensure that what was planned is actually what’s happening.</p>
            </div>
          </div>

        </div>

      </div>
    </section>



  

    <!-- ======= F.A.Q Section ======= -->
    <!-- <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Non consectetur a erat nam at lectus urna duis?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus.
            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Aperiam itaque sit optio et deleniti eos nihil quidem cumque. Voluptas dolorum accusantium sunt sit enim. Provident consequuntur quam aut reiciendis qui rerum dolorem sit odio. Repellat assumenda soluta sunt pariatur error doloribus fuga.
            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Tempus quam pellentesque nec nam aliquam sem et tortor consequat?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
            </p>
          </div>
        </div>

      </div>
    </section> -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>FundRaiser</h3>
              <p>Cras fermentum odio eu feugiat. Justo eget magna fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>74 Ally Skykes</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>info@FundRaiser.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+1 5589 55488 5</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="." method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <!-- <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> -->
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
    {% include 'includes/modals.html' %}


  </main><!-- End #main -->
{% endblock contents %}