{% extends 'base.html' %}
{% load static %}
{% block contents %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h3 data-aos="fade-up"><strong>Donate to highly scalable vetted innovative intervention from most vulnerable groups to solve communities’ most pressing issues & create sustainable Impact</strong></h3>
          <!-- <h2 data-aos="fade-up" data-aos-delay="400">All inclusive in one platform</h2> -->
          <div class="mt-5" data-aos="fade-up" data-aos-delay="800" style="display: inline-block;" >
            <a href="{% url 'login' %}" class="btn-get-started scrollto">Start Fundraising</a>
            <a href="{% url 'projects' %}" class="btn-get-started scrollto ml-5">Donate</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Clients Section -->
    <!-- ======= Services Section ======= -->
    <section id="projects" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Projects</h2>
          <p>Recent Projects From SMEs And NGOs</p>
        </div>

        <div class="row">
          {% for data in projects %}
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="mb-3">
                <img style="height:250px; width:100%" src="{{data.project_image.url}}" alt="image">
              </div>
              <h4 class="title"><a data-toggle="modal" data-target="#projects{{data.id}}">{{data.title}}</a></h4>
              <p class="description">{{data.project_overview|truncatechars:100}} 
                <a  class="description" data-toggle="modal" data-target="#projects{{data.id}}"><i class="bi bi-arrow-right"></i><b>Read More</b></a></p>

                <div class="goal mt-3 mb-3" >
                  <div style="display:inline-flex;" >
                      <span ><b>$1000  of  $10000</b></span>
                      <span style="float:right; right: 40px; position:absolute;" >10%</span>
                  </div>
                  <div class="bg-secondary rounded-pill" >
                    <div style="height:10px; width: 10%;" class="rounded-pill bg-success">.</div>
                  </div>
                </div>
                <div style="display:inline-flex;" class="mt-2" >
                  <a class="btn btn-warning rounded-pill" data-toggle="modal" data-target="#projects{{data.id}}">Read More <i class="bi bi-arrow-right"></i></a>
                  <a style="float:right; position:absolute; right: 20px;"  class="btn btn-dark rounded-pill "  href="{% url 'donate' data.id %}"">Donate </a>
                </div>
            </div>
           
          </div>
          {% endfor %}
        <center  data-aos="fade-up" data-aos-delay="100" ><a class="btn btn-outline-warning mt-5 rounded-pill"  href="{% url 'projects' %}"><b>More Projects</b></a></center>
        </div>

      </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= More Services Section opportunity section ======= -->
    <section id="opportunities" class="more-services">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Opportunities</h2>
          <p>Recent Opportunities From Donors</p>
        </div>
        <div class="row">
          {% for data in opportunities %}
          <div class="col-md-6 d-flex align-items-stretch mb-5">
            <div class="card" style='background-image: url("{{data.image.url}}");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a data-toggle="modal" data-target="#staticBackdrop{{data.id}}">{{data.title}}</a></h5>
                <p class="card-text">{{data.details|truncatechars:100}}</p>
                <div class="read-more"><a data-toggle="modal" data-target="#staticBackdrop{{data.id}}"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          {% endfor %}
          <center  data-aos="fade-up" data-aos-delay="100" ><a class="btn btn-outline-warning mt-5 rounded-pill"  href="{% url 'opportunities' %}"><b>More Opportunities</b></a></center>

        </div>

      </div>
    </section><!-- End More Services Section -->


        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>Who We Are</h2>
            </div>
    
            <div class="row content">
              <div class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
                <div class="section-title" data-aos="fade-up">
                </div>
                <center>
                  <p style="font-size: 20px; font-weight:bold;" >
                    We are the platform built to help and making sure that most vulnerable groups in our 
                    communities are sustainably raising funds to build and develop their solutions to most pressing community issues,
                     and grow their enterprise and operations from pre-seed capital, prove concepts  to commercial and sustainable level.
                  </p>
                </center>
          
              </div>

            </div>
    
          </div>
        </section><!-- End About Us Section -->
    
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
          <div class="container">
    
            <div class="row">
              <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
                <img src="{% static 'assets/img/counts-img.svg' %}" alt="" class="img-fluid">
              </div>
    
              <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
                <div class="content d-flex flex-column justify-content-center">
                  <div class="row">
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-folder"></i>
                        <span data-purecounter-start="0" data-purecounter-end="{{projects.count}}" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Projects</strong> that are raising funds to create impacts in the communities and improve people`s lives as well as creating a sustainable environment.</p>
                      </div>
                    </div>
    
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="{{opportunities.count}}" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Opportunities</strong> that have been share on the platform with a direct impacts and support to innovation from our current and future registered innovators.</p>
                      </div>
                    </div>
    
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-bank"></i>
                        <span data-purecounter-start="0" data-purecounter-end="{{sme}}" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>NGO's</strong> from grass root communities with solutions that are targeted to specific groups of undeserved communities with high possibilities of improving their lives.</p>
                      </div>
                    </div>
    
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="{{donor}}" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Donors</strong> who are ready to support proof of impact solutions by funding them to create more impacts and scale the reach to more beneficiaries.</p>
                      </div>
                    </div>
                  </div>
                </div><!-- End .content-->
              </div>
            </div>
    
          </div>
        </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <!-- <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Lorem Ipsum</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Dolor Sitema</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="">Sed perspiciatis</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="">Magni Dolores</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="">Nemo Enim</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="">Eiusmod Tempor</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3><a href="">Midela Teren</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3><a href="">Pira Neve</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-anchor-line" style="color: #b2904f;"></i>
              <h3><a href="">Dirada Pack</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-disc-line" style="color: #b20969;"></i>
              <h3><a href="">Moton Ideal</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-base-station-line" style="color: #ff5828;"></i>
              <h3><a href="">Verdo Park</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
              <h3><a href="">Flavor Nivelanda</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit eum quidem consectetur velit</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> -->
    <!-- End Testimonials Section -->





    <section id="projects" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>How it Works</h2>
          <p>For SMEs & NGOs</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="" data-aos="fade-up" data-aos-delay="100">
              <div class="text-center mb-3" ><img style="height: 100px;" src="{% static 'assets/img/reg.png' %}" alt=""></i></div>
              <h4 class="title text-center"><a href="{% url 'register' %}">Registration</a></h4>
              <p class="description" style="text-align: justify;" > 
                Users register to be part of the platform and be eligible to upload their projects by filling in their details and
                are then receiving a demonstration training to write a compelling story to attract donors to donate on their projects.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="" data-aos="fade-up" data-aos-delay="200">
              <div class="text-center mb-3" ><img style="height: 100px;" src="{% static 'assets/img/raise.png' %}" alt=""></i></div>
              
              <h4 class="title text-center"><a href="">Fundraising</a></h4>
              <p class="description">
                Users uploads their projects by filling a form and uploading video telling a compelling stories about their projects.
                 Then they get the link to share with their friends, 
                family and their ecosystem to drive traffic to their projects for donation and their projects will be promoted on our social media pages.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="" data-aos="fade-up" data-aos-delay="300">
              <div class="text-center mb-3" ><img style="height: 100px;" src="{% static 'assets/img/support.png' %}" alt=""></i></div>
              <h4 class="title text-center "><a href="">Post-Funding Support</a></h4>
              <p class="description">
                The fundraisers will receive mentorship support after they have reached their targets or 
                when their campaign ended in order to make sure that they are making the best use of those raised funds.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>



  

    <!-- ======= F.A.Q Section ======= -->
    <!-- <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Non consectetur a erat nam at lectus urna duis?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus.
            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Aperiam itaque sit optio et deleniti eos nihil quidem cumque. Voluptas dolorum accusantium sunt sit enim. Provident consequuntur quam aut reiciendis qui rerum dolorem sit odio. Repellat assumenda soluta sunt pariatur error doloribus fuga.
            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Tempus quam pellentesque nec nam aliquam sem et tortor consequat?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
            </p>
          </div>
        </div>

      </div>
    </section> -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>OUR SOCIAL REACH</h3>
              <p>
                Follow us on social media to support us support innovators in creating impacts and change lives of the undeserved communities</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>74 Ally Skykes Road Mbezi Beach</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>info@crowdimpact.me</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>255 745 831 623 </p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="." method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <!-- <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> -->
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
    {% include 'includes/modals.html' %}


  </main><!-- End #main -->
{% endblock contents %}