{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}
{% block contents %}

  <main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs mt-3 mb-3">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2><a href="{% url 'home' %}"><img src="{% static 'assets/img/logo3.png' %}" style="height: 70x;width: 150px;" alt="" class="img-fluid"></a></h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Project</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->
       
    <section id="projects" class="services">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Projects</h2>
            <p>All Projects From SMEs And NGOs ordered by most Recent</p>
          </div>
  
          <div class="row">
            {% for data in projects %}
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                <h4 class="title"><a data-toggle="modal" data-target="#staticBackdrop{{data.id}}">{{data.title}}</a></h4>
                <p class="description">{{data.project_overview|truncatechars:100}} <a  class="description" data-toggle="modal" data-target="#staticBackdrop{{data.id}}"><b>Read More</b></a></p>
              </div>
            </div>
            {% endfor %}

            <nav aria-label="Page navigation example" class="mt-5">
                {% if projects.has_other_pages %}
                    <ul class="pagination">
                        {% if projects.has_previous %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page={{ projects.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                        <li class="page-item disabled text-center"></li>
                        {% endif %}

                        {% for i in projects.paginator.page_range %}
                            {% if projects.number == i %}
                                <li class="page-item "><a class="page-link  bg-warning text-dark" href="?page={{i}}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link text-dark" href="?page={{i}}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if projects.has_next %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page={{ projects.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                        <li class="page-item disabled text-center"></li>
                        {% endif %}
                    </ul>
                {% endif %}
              </nav>
         
          </div>
  
        </div>
      </section>

      {% for data in projects %}
      <div class="modal fade mymodal"  id="staticBackdrop{{data.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"><b>Project Details</b></h5>
              <span id="success" class="text-success" ></span>
              <button type="button" class="close video" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times; close</span>
              </button>
              </div>
              <div class="modal-body">
                  <div class="row mb-3">
                      <div class="col-md-4">
                          <h5>Title</h5>
                          <span><b>{{data.title}}</b></span>
                      </div>
                      <div class="col-md-4">
                          <h5>Proposal</h5>
                          <span><b>{{data.proposal}}</b></span>
                      </div>
                      <div class="col-md-4">
                          <h5>Duration</h5>
                          <span><b>{{data.project_duration}}</b></span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <h5>Project Overview</h5>
                          <p><b>{{ data.project_overview }}</b></p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <h5>Target Area</h5>
                          <p><b>{{ data.target_area }}</b></p>
                      </div>
                  </div>
                  {% if data.video %}
                  <div class="row">
                      <div class="col-md-12">
                          <h5>Intro Video</h5>
                          <div style="width:100%;">
                              <video id="v" width="400" controls >
                                  <source src="{{ data.video.url }}" type="video/mp4">
                                  Your browser does not support the video tag.
                              </video>
                          </div>
                      </div>
                  </div>
                  {% endif %}
              </div>
              <div class="modal-footer">
                  <a class="btn btn-warning rounded-pill video" data-toggle="modal" data-target="#edit{{data.id}}" >Update <i class="bi bi-pencil" ></i></a>
                  <a class="btn btn-danger rounded-pill video " data-toggle="modal" data-target="#delete{{data.id}}" >Delete <i class="bi bi-trash" ></i></a>
                  <button type="button" class="btn btn-secondary video rounded-pill" data-dismiss="modal">Close</button>
              </div>
          </div>
          </div>
      </div>
      {%  endfor %}


  </main><!-- End #main -->
{% endblock contents %}

{% block footer %}
{% endblock footer %}