{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}
{% block contents %}

  <main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs mt-3 mb-3">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2><a href="{% url 'home' %}"><img src="{% static 'assets/img/logo3.png' %}" style="height: 70x;width: 150px;" alt="" class="img-fluid"></a></h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Project</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->
       
    <section id="projects" class="services">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Projects</h2>
            <p>All Projects From SMEs And NGOs ordered by most Recent</p>
          </div>
  
          <div class="row">
            {% for data in projects %}
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="mb-3">
                  <img style="height:250px; width:100%" src="{{data.project_image.url}}" alt="image">
                </div>
                <h4 class="title"><a data-toggle="modal" data-target="#projects{{data.id}}">{{data.title}}</a></h4>
                <p class="description">{{data.project_overview|truncatechars:100}} 
                  <a  class="description" data-toggle="modal" data-target="#projects{{data.id}}"><i class="bi bi-arrow-right"></i><b>Read More</b></a></p>
  
                  <div class="goal mt-3 mb-3" >
                    <div style="display:inline-flex;" >
                        <span>$1000 of $10000</span>
                        <span style="float:right; right: 40px; position:absolute;" >10%</span>
                    </div>
                    <div class="bg-secondary rounded-pill" >
                      <div style="height:10px; width: 10%;" class="rounded-pill bg-success">.</div>
                    </div>
                  </div>
                  <div style="display:inline-flex;" class="mt-2" >
                    <a class="btn btn-warning rounded-pill" data-toggle="modal" data-target="#projects{{data.id}}">Read More <i class="bi bi-arrow-right"></i></a>
                    <a style="float:right; position:absolute; right: 20px;"  class="btn btn-dark rounded-pill "  href="{% url 'donate' data.id %}"">Donate </a>
                  </div>
              </div>
             
            </div>
            {% endfor %}

            <nav aria-label="Page navigation example" class="mt-5">
                {% if projects.has_other_pages %}
                    <ul class="pagination">
                        {% if projects.has_previous %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page={{ projects.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                        <li class="page-item disabled text-center"></li>
                        {% endif %}

                        {% for i in projects.paginator.page_range %}
                            {% if projects.number == i %}
                                <li class="page-item "><a class="page-link  bg-warning text-dark" href="?page={{i}}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link text-dark" href="?page={{i}}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if projects.has_next %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page={{ projects.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                        <li class="page-item disabled text-center"></li>
                        {% endif %}
                    </ul>
                {% endif %}
              </nav>
         
          </div>
  
        </div>
      </section>

      {% include 'includes/modals.html' %}



  </main><!-- End #main -->
{% endblock contents %}

{% block footer %}
{% endblock footer %}