{% load static %}
    {% for data in projects %}
    <div class="modal fade mymodal proj"  id="projects{{data.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"><b>Project Details</b></h5>
            <span id="success" class="text-success" ></span>
            <button type="button" class="close video" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times; close</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <h5>Title</h5>
                        <span><b>{{data.title}}</b></span>
                    </div>
                    <div class="col-md-4">
                        <h5>Proposal</h5>
                        <span><b>{{data.proposal}}</b></span>
                    </div>
                    <div class="col-md-4">
                        <h5>Duration</h5>
                        <span><b>{{data.project_duration}}</b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Project Overview</h5>
                        <p><b>{{ data.project_overview }}</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Target Area</h5>
                        <p><b>{{ data.target_area }}</b></p>
                    </div>
                </div>
               
            </div>
            <div class="modal-footer">
                <a  class="btn btn-warning rounded-pill video" href="{% url 'donate' data.id %}" >Donate <i class="fa fa-donate" ></i></a>
                <button type="button" class="btn btn-secondary video rounded-pill" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    {%  endfor %}


    {% for data in opportunities %}
    <div class="modal fade mymodal "  id="staticBackdrop{{data.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"><b>Opportunity Details</b></h5>
            <span id="success" class="text-success" ></span>
            <button id="donate" type="button" class="close btn btn-warning rounded-pill" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <h5>Title</h5>
                        <span><b>{{data.title}}</b></span>
                    </div>
                    <div class="col-md-4">
                        <h5>Uploaded</h5>
                        <span><b>{{data.created_on|date:"d, M. Y" }}</b></span>
                    </div>
                    <div class="col-md-4">
                        <h5>Deadline</h5>
                        <span><b>{{data.deadline|date:"d, M. Y" }}</b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Opportunity Details</h5>
                        <p><b>{{ data.details }}</b></p>
                    </div>
                </div>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary video rounded-pill" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    {%  endfor %}




<!-- ===================================================Project modals start here ==================================================-->

{% for data in projects %}
<div class="modal fade mymodal"  id="staticBackdrop{{data.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><b>Project Details</b></h5>
        <span id="success" class="text-success" ></span>
        <button type="button" class="close video" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times; close</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="row mb-3">
                <div class="col-md-4">
                    <h5>Title</h5>
                    <span><b>{{data.title}}</b></span>
                </div>
                <div class="col-md-4">
                    <h5>Proposal</h5>
                    <span><b>{{data.proposal}}</b></span>
                </div>
                <div class="col-md-4">
                    <h5>Duration</h5>
                    <span><b>{{data.project_duration}}</b></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Project Overview</h5>
                    <p><b>{{ data.project_overview }}</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Target Area</h5>
                    <p><b>{{ data.target_area }}</b></p>
                </div>
            </div>
           
        </div>
        <div class="modal-footer">
            <a class="btn btn-warning rounded-pill video" data-toggle="modal" data-target="#edit{{data.id}}" >Update <i class="bi bi-pencil" ></i></a>
            <a class="btn btn-danger rounded-pill video " data-toggle="modal" data-target="#delete{{data.id}}" >Delete <i class="bi bi-trash" ></i></a>
            <button type="button" class="btn btn-secondary video rounded-pill" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
{%  endfor %}

<div class="modal fade mymodal"  id="add" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="border:1px solid black; border-radius:10px;">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-dark" id="staticBackdropLabel"><b>Add Project</b></h5>
        <span id="success" class="text-success" ></span>
        <button type="button" class="close video" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times; close</span>
        </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'add_project' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="">Project Title *</label>
                        <input style="height: 50px;" required type="text" name="title" class="form-control ">
                    </div>
                    <div class="col-md-6">
                        <label for="">Project Duration *</label>
                        <input style="height: 50px;" required type="text" name="project_duration" class="form-control ">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label for="">Fund Raising Goal *</label>
                        <input style="height: 50px;" required type="number" name="goal" class="form-control ">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 ">
                        <label for="">Beneficiaries *</label>
                        <textarea required class="form-control" name="beneficiaries" id="" cols="30" rows="5"></textarea>
                    </div>
                    <div class="col-md-6 ">
                        <label for="">Target Area *</label>
                        <textarea required class="form-control" name="target_area" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        <label class="mb-2" for="">Project Overview</label>
                        <textarea   required class="form-control" name="project_overview" id="default" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                   
                    <div class="col-md-6">
                        <label for="">You Tube Video Link</label>
                        <input required type="text" name="video" class="form-control ">
                    </div>
                    <div class="col-md-6">
                        <label for="">Project Image *</label>
                        <input  required type="file" name="project_image" class="form-control ">
                    </div>
                </div>
                <button type="submit" class="btn btn-warning rounded-pill btn-lg" >Submit Now</button>
            </form>
           
        </div>
       
    </div>
    </div>
</div>


{% for data in projects %}
<div class="modal fade mymodal"  id="edit{{data.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="border:1px solid black; border-radius:10px;">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-dark" id="staticBackdropLabel"><b>Update Project</b></h5>
        <span id="success" class="text-success" ></span>
        <button type="button" class="close video" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times; close</span>
        </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'update_project' data.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Project Title *</label>
                        <input style="height: 50px;" required type="text" name="title" value="{{data.title}}" class="form-control ">
                    </div>
                    <div class="col-md-6">
                        <label for="">Project Duration *</label>
                        <input style="height: 50px;" required type="text" name="project_duration" value="{{data.project_duration}}" class="form-control ">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label for="">Fund Raising Goal *</label>
                        <input style="height: 50px;" required type="text" name="goal" class="form-control" value="{{data.goal}}">
                    </div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 ">
                        <label for="">Beneficiaries *</label>
                        <textarea required class="form-control" name="beneficiaries" id="" cols="30" rows="5">{{data.beneficiaries}}</textarea>
                    </div>
                    <div class="col-md-6 ">
                        <label for="">Target Area *</label>
                        <textarea required class="form-control" name="target_area" id="" cols="30" rows="5">{{ data.target_area }}</textarea>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        <label class="mb-2" for="">Project Overview</label>
                        <textarea required class="form-control" name="project_overview" id="" cols="30" rows="5">{{data.project_overview}}</textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="">Proposal *</label>
                        <input   type="file" name="proposal" value="{{data.proposal}}" class="form-control ">
                    </div>
                    <div class="col-md-6">
                        <label for="">Video *</label>
                        <input  type="file" name="video" value="{{data.video}}" class="form-control ">
                    </div>
                </div>
                <button type="submit" class="btn btn-warning rounded-pill btn-lg" >Submit Now</button>
            </form>
           
        </div>
       
    </div>
    </div>
</div>
{% endfor %}



{% for data in projects %}
<div class="modal fade mymodal"  id="delete{{data.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="border:1px solid black; border-radius:10px;">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-danger" id="staticBackdropLabel"><b>Delete Project</b></h5>
        <span id="success" class="text-success" ></span>
        <button type="button" class="close btn btn-warning rounded-pill" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
           <span class="text-danger font-extrabold" >Are you sure you want to delete this project?</span>
        </div>
        <div class="modal-footer">
            <a class="btn btn-danger rounded-pill " href="{% url 'delete_project' data.id %}" >Delete <i class="bi bi-trash" ></i></a>
            <button type="button" class="btn btn-secondary video rounded-pill" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
{%  endfor %}


<!-- ===================================================Project modals start here ==================================================-->


















<!-- ====================================================donor modas starts here ========================================================-->
{% for data in opps %}
<div class="modal fade mymodal"  id="staticBackdrop{{data.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><b>Opportunity Details</b></h5>
        <span id="success" class="text-success" ></span>
        <button type="button" class="close btn btn-warning rounded-pill" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="row mb-3">
                <div class="col-md-4">
                    <h5>Title</h5>
                    <span><b>{{data.title}}</b></span>
                </div>
                <div class="col-md-4">
                    <h5>Uploaded</h5>
                    <span><b>{{data.created_on|date:"d, M. Y" }}</b></span>
                </div>
                <div class="col-md-4">
                    <h5>Deadline</h5>
                    <span><b>{{data.deadline|date:"d, M. Y" }}</b></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Opportunity Details</h5>
                    <p><b>{{ data.details }}</b></p>
                </div>
            </div>
        
        </div>
        <div class="modal-footer">
            <a class="btn btn-warning rounded-pill video" data-toggle="modal" data-target="#edit{{ data.id }}" >Update <i class="bi bi-pencil" ></i></a>
            <a class="btn btn-danger rounded-pill video " data-toggle="modal" data-target="#delete{{ data.id }}" >Delete <i class="bi bi-trash" ></i></a>
            <button type="button" class="btn btn-secondary video rounded-pill" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
{%  endfor %}


{% for data in opps %}
<div class="modal fade mymodal"  id="delete{{data.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="border:1px solid black; border-radius:10px;">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-danger" id="staticBackdropLabel"><b>You are about to delete an Opportunity</b></h5>
        <span id="success" class="text-success" ></span>
        <button type="button" class="close btn btn-warning rounded-pill" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
           <span class="text-danger font-extrabold" >Are you sure you want to delete this Opportunity?</span>
        </div>
        <div class="modal-footer">
            <a class="btn btn-danger rounded-pill " href="{% url 'delete_opp' data.id %}" >Delete <i class="bi bi-trash" ></i></a>
            <button type="button" class="btn btn-secondary video rounded-pill" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
{% endfor %}


<div class="modal fade mymodal"  id="add" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="border:1px solid black; border-radius:10px;">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-dark" id="staticBackdropLabel"><b>Add An Opportunity</b></h5>
        <span id="success" class="text-success" ></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times; close</span>
        </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'add_opp' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <label for="">Opportunity Title *</label>
                        <input style="height: 50px;" required type="text" name="title" class="form-control " placeholder="Opportunity Title">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 ">
                        <label for="">Dealine *</label>
                        <input  style="height: 50px;" required type="date" name="deadline" class="form-control" placeholder="Deadline">
                    </div>
                    <div class="col-md-6 ">
                        <label for="">Cover Image *</label>
                        <input required type="file" name="image" class="form-control">
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        <label class="mb-2" for="">Opportunity Details</label>
                        <textarea required class="form-control" name="details" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning rounded-pill btn-lg" >Submit Now</button>
            </form>
           
        </div>
       
    </div>
    </div>
</div>


    
{% for data in opps %}
<div class="modal fade mymodal"  id="edit{{data.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="border:1px solid black; border-radius:10px;">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-dark" id="staticBackdropLabel"><b>Update An Opportunity</b></h5>
        <span id="success" class="text-success" ></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times; close</span>
        </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'update_opp' data.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <label for="">Opportunity Title *</label>
                        <input style="height: 50px;" required type="text" name="title" class="form-control" value="{{data.title}}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label for="">Dealine *</label>
                        <input  style="height: 50px;" required type="date" name="deadline" class="form-control" value="{{ data.deadline|date:'Y-m-d' }}"">
                    </div>
                    <div class="col-md-7 ">
                        <label for="">Cover Image *</label>
                       <div style="display: inline-flex;" >
                        <input required type="file" name="image" class="form-control">
                        <img style="height: 50px;width: 100px; border-radius: 5px; margin-left: 5px;" src="{{data.image.url}}" alt="">
                       </div>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        <label class="mb-2" for="">Opportunity Details</label>
                        <textarea required class="form-control" name="details" id="" cols="30" rows="10">{{data.details}}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning rounded-pill btn-lg" >Update Now</button>
            </form>
           
        </div>
       
    </div>
    </div>
</div>
{% endfor %}

<!-- ====================================================donor modas starts here ========================================================-->




<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="{% static 'assets/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'assets/tinymce/plugins/code/plugin.min.js' %}"></script>
<script>
    tinymce.init({ selector: '#default' });
    tinymce.init({ selector: '#dark', toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code', plugins: 'code' });
</script>

<script>
    $(document).on('click', '.video'+1, function (e) {
        var pk = $('#pk').attr('val')
        e.preventDefault()
    var video = $('.v'+pk).get(0);
    if (video.paused === false) {
        video.pause();
    } else {
        video.pause();
    }

    return false;
});


$('#noto').delay(5000).fadeOut('slow');

</script>