<div class="contact-about">
    <p>If you have not followed our social media follow our link below</p>
    <div class="social-links">
      <a href="https://twitter.com/CrowdImpactTz" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/crowdimpacttz/" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/company/crowd-impact" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>