{% extends 'donors/config.html' %}
{% load static %}
{% block contents %}
<style>
    video{
        width: 100%;
        height: auto;
    }
</style>
<body>
    <div id="app">

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="row">
                    <div class="col-md-5" >
                        <h3 class="text-warning font-weight-bold" ><b>DONOR DASHBOARD</b></h3>
                    </div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                        {% if messages %}
                        {% for message in messages %}
                          {% if message.tags == 'success' %}
                            <div id="noto" class="alert alert-success text-center" role="alert">
                            {{message}}
                            </div>
                          {% endif %}
                          {% if message.tags == 'error' %}
                            <div id="noto" class="alert alert-danger text-center " role="alert">
                            {{message}}
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                </div>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">
                        <div class="row">
                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card bg-warning">
                                    <div class="card-body px-3 py-4-5 ">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon bg-dark">
                                                    <i class="iconly-boldShow"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-dark font-extrabold">Opportunities</h6>
                                                <h6 class="font-extrabold mb-0 text-dark">20</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card bg-dark">
                                    <div class="card-body px-3 py-4-5 ">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon bg-warning">
                                                    <i class="iconly-boldProfile text-dark"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-warning font-extrabold">Opportunities clicks</h6>
                                                <h6 class="font-extrabold mb-0 text-warning">183</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card bg-warning ">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon bg-dark">
                                                    <i class="iconly-boldBookmark"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-dark font-extrabold">Opportunities Upvotes</h6>
                                                <h6 class="font-extrabold mb-0 text-dark">112</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                       <div style="display: inline-flex;">
                                        <h4 class="mt-3" >My Opportunities</h4>
                                        <div style="width: 150px;"></div>
                                        <button  data-toggle="modal" data-target="#add" class=" btn btn-warning rounded-pill"  >Add An Opportunity</button>
                                       </div>
                                    </div>
                                    <div class="card-body">
                                        <table style="overflow-x: auto;" class="table table-responsive " >
                                            <thead>
                                                <tr>
                                                    <td>#</td>
                                                    <td>Title</td>
                                                    <td>Details</td>
                                                    <td>Uploaded</td>
                                                    <td>Deadline</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for data in opps %}
                                                    <tr>
                                                        <td>
                                                            {{forloop.counter}}
                                                        </td>
                                                        <td>
                                                            {{data.title}}
                                                        </td>
                                                     
                                                        <td>
                                                            {{data.details|truncatechars:40}}
                                                            <a class="btn" data-toggle="modal" data-target="#staticBackdrop{{data.id}}">
                                                                <span class="text-dark font-weight-bold"  style="font-size: 13px;">
                                                                   More
                                                                </span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            {{data.created_on|date:"d, M. Y" }}
                                                        </td>
                                                        <td>
                                                            {{ data.deadline|date:"d, M. Y" }}
                                                        </td>
                                                       
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

    
                </section>
            </div>





        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            $(document).on('click', '.video', function (e) {
                e.preventDefault()
            var video = $('#v').get(0);
            if (video.paused === false) {
                video.pause();
            } else {
                video.pause();
            }

            return false;
        });


        $('#noto').delay(5000).fadeOut('slow');

        </script>

{% endblock contents %}